@font-face {
    font-family: 'league_gothiccondensed_italic';
    src: url('fonts/leaguegothic-condenseditalic-webfont.woff2') format('woff2'),
    url('fonts/leaguegothic-condenseditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'league_gothicCnRg';
    src: url('fonts/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
    url('fonts/leaguegothic-condensedregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'league_gothicitalic';
    src: url('fonts/leaguegothic-italic-webfont.woff2') format('woff2'),
    url('fonts/leaguegothic-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'league_gothicregular';
    src: url('fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'league_gothicregular', sans-serif;
    color: #fff;
    /*text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);*/
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

h1 {
    font-size: 60px;
    font-weight: normal;
}

h2 {
    font-size: 32px;
    color: #edbfff;
    font-weight: normal;
}

h3 {
    font-size: 30px;
    text-transform: uppercase;
}

p {
    font-size: 18px;
    font-weight: normal;
}

.container {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
}

header {
    width: 960px;
    margin: 0 auto;
    padding: 60px 0 60px 12px;
}

.logo {
    display: inline-block;
    position: relative;
}

.logo:before {
    content: url("../img/logoAp.png");
    display: block;
    position: absolute;
    top: -10px;
    left: 10px;
}

.logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 48px;
    /*    letter-spacing: -0.6px;*/
}

.logo a span {
    text-shadow: none;
    color: #5e426b;
}

.nav_mobile {
    display: none;
}

nav {
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    float: right;
    line-height: 52px;
}

.nav_menu li {
    position: relative;
    display: inline-block;
    margin-left: 36px;
    padding: 0 5px 0 7px;
}

.nav_menu li a {
    text-decoration: none;
}

.nav_menu li:last-child {
    margin-right: -5px;
}

.nav_menu li:hover:after {
    position: absolute;
    left: 0;
    bottom: 10px;
    content: "";
    width: 100%;
    display: block;
    height: 2px;
    background-color: #edbfff;
}

.slider {
    position: relative;
}

.slider:before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    height: 400px;
    width: 100%;
}

.wrapper {
    width: 960px;
    margin: 50px auto;
    position: relative;
    padding-top: 32px;
}

.leftTurn, .rightTurn {
    position: absolute;
    top: 40%;
}

.leftTurn {
    left: -33%;
}

.rightTurn {
    right: -34%;
}

.description {
    width: 500px;
    float: left;
    margin: 98px 0 0 6px;
}

.description h1 {
    line-height: 53px;
}

.main_img {
    float: left;
    margin-left: 114px;
    position: relative;
}

.play {
    position: absolute;
    top: 37%;
    left: 55%;
}

.play:hover ~ .circle {
    display: block;
}

.circle {
    display: none;
    position: absolute;
    top: 34%;
    left: 50%;
}

.indexSlider {
    text-align: center;
    height: 98px;
    position: relative;
}

.sliderCircles {
    position: absolute;
    right: 161px;
    top: 72px;
}

.indexCircle {
    position: absolute;
    right: 204px;
    top: 71px;
}

.about {
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #000;
    background-color: #533b5e;
}

.about:after {
    content: "";
    display: block;
    box-sizing: border-box;
    height: 1px;
    border-top: 1px solid #1d2f37;
}

.about_wrapper {
    margin: 0 auto;
    width: 960px;
    padding: 70px 0;
}

.about_img {
    position: absolute;
    top: 10px;
    left: -53px;
}

.block_about {
    position: relative;
    margin-right: 105px;
    width: 225px;
    display: inline-block;
}

.block_about a:hover {
    text-shadow: 0 0 10px white;
}

.about_item1 {
    margin-left: 69px;
}

.about_item3 {
    margin: 0;
}

.block_about a {
    margin-top: 6px;
    font-size: 22px;
    float: right;
    text-decoration: none;
}

.block_about p {
    line-height: 26px;
}

.info, .logos {
    background-color: #f9f9f9;
}

.info_wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 80px 0;
    box-sizing: border-box;
    border-top: 1px solid #fff;
}

.mini_slider {
    width: 430px;
    margin: 0 40px 0 0;
    display: block;
    float: left;
    position: relative;
}

.slider_item {
    padding: 25px 25px 25px 40px;
    background-color: #fff;
}

.slider_item h3 {
    color: #000;
}

.slider_item h3 span {
    color: #edbfff;
}

.slider_item p {
    color: #000;
}

.miniSliderCircle {
    position: absolute;
    bottom: -50px;
    left: 214px;
}

.miniIndexCircle {
    position: absolute;
    bottom: -46px;
    left: 239px;
}

.photo {
    position: absolute;
    top: 10px;
    left: -24px;
}

.recent_updates {
    float: left;
    font-size: 16px;
}

.recent_updates h3 {
    color: #000;
}

.recent_updates h4 {
    color: #000;
}

.recent_updates a {
    text-decoration: none;
    float: right;
    color: #000;
}

.update_item p {
    font-size: 16px;
    color: #000;
}

.update_item img {
    float: left;
    padding-right: 10px;
}

.update_item {
    width: 300px;
}

.info:after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #fff;
}

.logos {
    padding: 20px 0;
    background-color: #f9f9f9;;
}

.logos_img {
    margin: 0 auto;
    width: 775px;
    height: 65px;
    display: block;
    background-image: url("../img/logos.png");
    background-repeat: no-repeat;
}

.company_info:before {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #fff;
}

.company_info {
    background-color: #e9e9e9;
}

.company_info_wrapper {
    margin: 0 auto;
    width: 960px;
    padding: 70px 0;
}

.pigbuller h2 {
    text-transform: uppercase;
    font-size: 48px;
}

.pigbuller h2 span {
    color: #b9b9b9;
}

.ci_item h2, .ci_item h3 {
    color: #454545;
}

.ci_item {
    width: 280px;
    margin-right: 57px;
    display: inline-block;
}

.copyright {
    font-style: italic;
}

.ci_item p {
    color: #888;
    padding-top: 8px;
}

.new_categories {
    margin-right: 0;
}

footer {
    background-image: url("../img/bg_footer.png");
}

.footer_wrapper {
    margin: 0 auto;
    width: 960px;
}

.footer_wrapper nav {
    float: left;
    line-height: 115px;
}

.footer_wrapper nav ul li:first-child {
    margin-left: 0;
}

.designer {
    float: right;
    line-height: 115px;
}

.designer span {
    color: #fff;
    font-size: 12px;
}

.designer_name {
    font-weight: bold;
}

@media (min-width: 768px) and (max-width: 960px) {

    header {
        width: 768px;
        padding-left: 20px;
    }

    .logo {
        display: block;
    }

    nav {
        display: block;
        float: none;
    }

    .nav_menu li:first-child {
        margin-left: 0;
        padding-left: 0;
    }

    .sliderContent {
        margin-left: 44px;
    }

    .wrapper {
        width: 768px;
        margin: 35px auto;
    }

    .leftTurn {
        left: 0;
    }

    .rightTurn {
        right: 2%;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 21px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .description {
        width: 272px;
        margin-left: 0;
    }

    .description p {
        height: 92px;
        overflow: hidden;
    }

    .sliderCircles {
        top: 20px;
    }

    .indexCircle {
        top: 19px;
    }

    .about_wrapper {
        width: 768px;
    }

    .block_about {
        margin-right: 100px;
        width: 150px;
    }

    .about_item1 {
        margin-left: 80px;
    }

    .about_item3 {
        margin: 0;
    }

    .info, .logos {
        background-color: #f9f9f9;
    }

    .info_wrapper {
        width: 768px;
        padding: 80px 40px;
    }

    .mini_slider {
        width: 320px;
    }

    .slider_item h3 span {
        display: block;
    }

    .miniSliderCircle {
        position: absolute;
        bottom: -50px;
        left: 100px;
    }

    .miniIndexCircle {
        position: absolute;
        bottom: -46px;
        left: 125px;
    }

    .logos {
        padding: 25px 0;
        background-color: #f9f9f9;;
    }

    .logos_img {
        margin: 0 auto;
        width: 725px;
        height: 65px;
        display: block;
        background-image: url("../img/logos768.png");
        background-repeat: no-repeat;
    }

    .company_info_wrapper {
        width: 768px;
    }

    .ci_item {
        width: 210px;
    }

    footer {
        background-image: url("../img/bg_footer768.png");
    }

    .footer_wrapper {
        width: 768px;
    }

    .designer {
        line-height: 200px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {

    header {
        width: 480px;
        text-align: center;
        padding: 60px 0 0 12px;
    }

    .logo {
        display: block;
    }

    nav {
        float: none;
    }

    .menu {
        display: none;
    }

    .nav_mobile {
        display: block;
        width: 260px;
        margin: 0 auto;
    }

    .nav_mobile a {
        text-decoration: none;
        display: block;
        line-height: 40px;
    }

    .nav_menu_item {
        position: relative;
    }

    .nav_menu_mobile {
        border-radius: 5px 5px 0 0;
        padding-top: 10px;
    }

    .sub_nav_menu {
        display: none;
        position: absolute;
        top: 40px;
        width: 260px;
        background-color: #3b2e43;
        border-radius: 0 0 5px 5px;
        padding-bottom: 10px;
    }

    .nav_menu_mobile li {
        display: block;
        margin: 0;
    }

    .nav_menu_mobile:hover {
        background-color: #3b2e43;
    }

    .nav_mobile:hover .sub_nav_menu {
        display: block;
        z-index: 100;
    }

    .nav_mobile a:hover {
        box-sizing: border-box;
        height: 40px;
        border-bottom: 2px solid #edbfff;
        background-color: #2b2231;
    }

    .wrapper {
        width: 480px;
        margin: 0 auto;
        padding-top: 0;
    }

    .description {
        width: 180px;
        margin: 140px 0 0 14px;
    }

    .description p {
        display: none;
    }

    .description h1 {
        font-size: 34px;
    }

    .description h2 {
        font-size: 16px;
    }

    .main_img {
        margin-left: 0;
    }

    .leftTurn, .rightTurn {
        top: 31%;
    }

    .leftTurn {
        left: -3%;
    }

    .rightTurn {
        right: -3%;
    }

    .slider:before {
        top: 20px;
        height: 340px;
    }

    .indexSlider {
        height: 40px;
    }

    .indexCircle {
        top: 9px;
    }

    .sliderCircles {
        top: 10px;
    }

    .about_wrapper {
        width: 480px;
    }

    .block_about {
        width: 100%;
        margin-left: 69px;
    }
}