*{
    margin: 0;
    padding: 0;
}

body {
    color: #666;
    font-family: sans-serif;
    line-height: 1.4;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
    color: red;
    font-size: 72px;
}

h2 {
    color: #ff9928;
}

a {
    color: #888;
    text-decoration: none;
}

#wrapper {
    float: left;
}

header {
    margin: 20px;
    background: linear-gradient(to left, #0900ff, #ff0721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box {
    float: left;
    width: 200px;
    margin: 10px;
    border: 2px solid #000080;
    border-radius: 5px;
}

.box li {
    background-color: #D6CE7D;
    padding: 2px 0px 2px 6px;
}

.box li:hover {
    background-color: #d69552;
}

.about_band {
    float: left;
}

.albums {
    display: none;
}

.about_album {
    float: left;
}

ol {
    font-size: 14px;
}

ol li {
    margin-left: 30px;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    list-style: inherit;
}

ol li a {
    display: block;
    padding-left: 20px;
}

li.playing, li.playing a {
    color: #000;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

li.playing:before {
    content: '♬';
    position: absolute;
    left: 8px;
    top: 12px;
    color: #000;
    font-size: 13px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
