@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../font/helveticaneue-thin-webfont.eot');
    src: url('../font/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneue-thin-webfont.woff2') format('woff2'),
    url('../font/helveticaneue-thin-webfont.woff') format('woff'),
    url('../font/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Helvetica Neue Regular', sans-serif;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

body {
    background: url("../img/background.jpg") no-repeat;
    background-size: 100%;
    background-position-y: 36px;
    height: 100vh;
    text-align: center;
}

body:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

header {
    background-color: #085494;
    height: 36px;
}

.wrapper_header {
    float: right;
    margin-right: 20px;
}

.menu {
    float: left;
}

.menu li {
    list-style: none;
    float: left;
}

.menu li:hover {
    background-color: #4eabda;
}

.menu li a {
    font-size: 14px;
    display: inline-block;
    padding: 10px 12px;
    text-decoration: none;
    color: #60b5ed;
}

.menu li a:hover {
    color: white;
}

.menu_offers {
    float: left;
    position: relative;
    width: 160px;
}

.menu_offers:before {
    content: "";
    display: block;
    position: absolute;
    height: 31px;
    width: 1px;
    background-color: #56a2dc;
    top: 2px;
    left: 0;
}

.menu_offers a {
    padding: 8px 0 9px 40px;
    display: block;
    text-decoration: none;
}

.menu_offers img {
    position: absolute;
    left: 10px;
    top: 6px;
}

.menu_login {
    float: left;
    width: 190px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #4eabda;
}

.content {
    display: inline-block;
    width: 560px;
    vertical-align: middle;
}

.title {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 62px;
    margin-bottom: 2px;
}

.title h2 {
    text-align: center;
    line-height: 62px;
}

.form_wrapper {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.content_form {
    width: 276px;
    margin: 0 auto;
    padding-top: 35px;
}

.content_form img {
    vertical-align: bottom;
    float: left;
}

.separator:before {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: 1px solid black;
    border-top: 1px solid #9D9595;
    width: 44%;
    top: 40%;
    left: 0;
}

.separator {
    text-align: center;
    position: relative;
    margin-top: 32px;
}

.separator:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: 1px solid black;
    border-top: 1px solid #9D9595;
    width: 44%;
    top: 40%;
    right: 0;
}

.info_text {
    width: 100%;
    height: 35px;
    margin-top: 18px;
    box-sizing: border-box;
    border: none;
    background: black;
    border-bottom: 1px solid #6F7274;
    padding-left: 18px;
}

.info_text:focus {
    background: #1b5288;
    -webkit-box-shadow: 0 0 5px 2px rgba(48, 133, 247, 0.75);
    -moz-box-shadow: 0 0 5px 2px rgba(48, 133, 247, 0.75);
    box-shadow: 0 0 5px 2px rgba(48, 133, 247, 0.75);
}

.updates {
    width: inherit;
    height: inherit;
    margin-top: 25px;
}

label {
    color: #ccc;
}

.submit {
    border: 1px solid #9ED9ED;
    border-radius: 5px;
    background: #3586ca;
    padding: 10px 0;
    width: 150px;
    margin: 19px auto 0;
    font-weight: bold;
    display: block;
    letter-spacing: 1px;
}

.submit:hover {
    background: #274791;
}

.submit:active {
    zoom: 1;
    margin: 19px auto 0;
}

.text_content {
    width: 310px;
    margin: 0 auto;
    padding: 20px 0;
    color: #ccc;
    font-size: 11px;
    text-align: center;
}