* {
    margin: 0;
    padding: 0;
    color: white;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

body {
    background: url("../img/background.jpg") no-repeat;
    background-size: 100%;
    background-position-y: 36px;
}

header {
    background-color: #085494;
    height: 36px;
}

.menu {
    float: right;
    margin-right: 30px;
}

.menu li {
    list-style: none;
    float: left;
}

.menu li:hover {
    background-color: #4eabda;
}

.menu li a {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.menu_offers {

}

.menu_login a {
    padding: 0;
    text-decoration: underline !important;
}

.menu_login {
    padding-left: 10px;
    background-color: #4eabda;
}

.content {
    width: 560px;
    margin: 213px auto 0;
}

.title {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 62px;
    margin-bottom: 2px;
}

.title h2 {
    text-align: center;
    line-height: 62px;
}


.form_wrapper {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.content_form {
    width: 276px;
    margin: 0 auto;
    padding-top: 35px;
}

.content_form img {
    vertical-align: bottom;
    float: left;
}


.separator:before {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: 1px solid black;
    border-top: 1px solid #9D9595;
    width: 44%;
    top: 40%;
    left: 0;
}

.separator {
    text-align: center;
    position: relative;
    margin-top: 32px;
}

.separator:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: 1px solid black;
    border-top: 1px solid #9D9595;
    width: 44%;
    top: 40%;
    right: 0;
}

.info_text {
    width: 100%;
    height: 35px;
    margin-top: 18px;
    box-sizing: border-box;
    border: none;
    background: black;
    border-bottom: 1px solid #6F7274;
    padding-left: 18px;
}

.info_text:hover {
    background: #1b5288;
    -webkit-box-shadow: 0 0 5px 2px rgba(48, 133, 247, 0.75);
    -moz-box-shadow: 0 0 5px 2px rgba(48, 133, 247, 0.75);
    box-shadow: 0 0 5px 2px rgba(48, 133, 247, 0.75);
}

.updates {
    width: inherit;
    height: inherit;
    margin-top: 25px;
}

.submit {
    border: 1px solid #9ED9ED;
    border-radius: 5px;
    background: #3586ca;
    padding: 10px 0;
    width: 150px;
    margin: 19px auto 0;
    display: block;
}
.submit:hover {
    background: #274791;
}

.submit:active {
    zoom: 1;
    margin: 19px auto 0;
}

.text_content {
    width: 310px;
    margin: 0 auto;
    padding: 15px 0;
}