body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.btn {
    margin: 36px auto;
    padding: 12px 36px;
    border: 2px solid black;
    display: block;
}

.title {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
}

li {
    list-style: none;
}

.questions_title {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 8px;
}

.questions_item {
    margin-left: 20px;
    list-style: none;
}

.bt_submit {
    background-color: #cfe2f3;
}

.result {
    width: 300px;
    background-color: #386f94;
    position: fixed;
    left: 42%;
    top: 10%;
    display: none;
}

.result_show {
    display: block;
}

.bt_close {
    background-color: #f38957;
}