@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../font/helveticaneue-thin-webfont.eot');
    src: url('../font/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneue-thin-webfont.woff2') format('woff2'),
    url('../font/helveticaneue-thin-webfont.woff') format('woff'),
    url('../font/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue Regular', sans-serif;
}

ul > li {
    list-style: none;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

.container {
    width: 910px;
    padding: 18px 45px 0;
    margin: 0 auto;
}

.phone_numbers {
    float: left;
    margin: 4px 0 0 7px;
}

.icon_bg {
    width: 21px;
    height: 21px;
    float: left;
    position: relative;
    background-color: #103d62;
    border-radius: 21px;
}

.icon_phone {
    position: absolute;
    top: 1px;
    left: 4px;
}

.number {
    float: left;
    display: block;
    margin: 0 6px;
    font-weight: bold;
    color: #5e696d;
    font-size: 18px;
}

.registration {
    padding: 0 7px;
    border-radius: 3px;
    float: left;
    margin: 0 0 9px 19px;
    background-color: #103d62;
    border: 1px solid #a6c3cf;
    border-bottom: 1px solid #596d80;
}

.registration_form {
    float: left;
}

.icon_author {
    margin-top: 4px;
    display: block;
    float: left;
}

.input_text {
    float: left;
    margin: 4px;
    width: 106px;
    font-size: 11px;
    padding-left: 3px;
}

.signin {
    float: left;
    margin: 6px 0 0 1px;
    font-size: 11px;
}

.enter, .registr {
    color: white;
    margin: 0 8px 0 3px;
    text-decoration: none;
}

.enter {
    position: relative;
}

.enter:after {
    position: absolute;
    right: -8px;
    top: 2px;
    float: left;
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background-color: white;
}

.forgot_password {
    color: #bfbfbf;
    margin: 0 15px;
}

.content img {
    vertical-align: bottom;
}

.nav_icons {
    position: relative;
    float: left;
    width: 80px;
    height: 25px;
    margin-left: 15px;
    background: url("../img/small_nav_background.png") no-repeat;
}

.nav_icon {
    position: absolute;
    top: 5px;
}

.icon_home {
    left: 10px;
}

.icon_map {
    left: 30px;
}

.icon_letter {
    top: 6px;
    left: 53px;
}

.nav_bar {
    height: 34px;
    color: white;
    border-radius: 4px;
    margin-top: 6px;
    border: 1px solid #2c345a;
    box-sizing: border-box;
}

.menu {
    margin-left: 132px;
    display: inline-block;
    line-height: 32px;
}

.menu li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
}

.menu li a {
    color: #b1bcc0;
    text-decoration: none;
    font-size: 13px;
    border-radius: 17px;
    padding: 6px 14px 5px 14px;
}

.menu li a:hover {
    color: white;
    background-color: #13486b;
}

.shop_account {
    position: relative;
    width: 220px;
    color: white;
    display: inline-block;
    margin-left: 53px;
    font-size: 11px;
}

.shop_account p {
    position: absolute;
    top: 2px;
    left: 28px;
}

.products_count_number, .summ {
    display: inline-block;
    width: 18px;
    font-size: 12px;
    color: #0d5a8f;
}

.products_count_number {
    width: 18px;
}

.products_count, .products_summ {
    color: #b1bcc0;
}

.summ {
    width: 64px;
    text-align: right;
}

.products {
    margin-top: 162px;
}

.catalog {
    float: left;
}

.catalog_left {
    width: 192px;
}

.catalog_right {
    margin-left: 8px;
    width: 178px;
}

.icon_catalog {
    position: absolute;
    top: 3px;
    left: 4px;
}

.products h3 {
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid grey;
    border-radius: 15px;
    height: 25px;
    margin-top: 2px;
    padding-left: 26px;
    line-height: 28px;
}

.h3_big {
    width: 154px;
    margin-bottom: 14px;
}

.icon_bg_products {
    margin: 3px;
}

.h3_medium {
    width: 124px;
}

.h3_small {
    width: 110px;
}

.icon_bg_products_small {
    margin: 3px 3px 3px 7px;
}

.icon_point {
    position: absolute;
    top: 5px;
    left: 4px;
    display: block;
    width: 12px;
    height: 11px;
    border-radius: 6px;
    background-color: white;
}

.catalog_tires_name {
    font-size: 13px;
}

.catalog_tires_name_right {
    margin-bottom: 8px;
}

.catalog_left ul li {
    margin-left: 46px;
    line-height: 25px;
}

.catalog_right ul li {
    margin-left: 18px;
    line-height: 26px;
}

.catalog ul li a {
    position: relative;
    color: #8f9a9f;
    text-decoration: none;
}

.catalog ul li a:hover {
    font-size: 14px;
    color: #114165;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

.catalog ul li a i {
    position: absolute;
    left: -11px;
    font-size: 8px;
    line-height: 24px;
}

.brands {
    margin-left: 14px;
}

.brands_checkbox {

}

.brands_label {

}

.bn_check {
    margin: 8px 0 0 10px;
    width: 81px;
    height: 27px;
    background-color: #085494;
    border-radius: 18px;
    border: white;
    text-transform: uppercase;
    color: white;
    font-size: 11px;
}

.search_car {
    width: 412px;
    border: 1px solid black;
    margin: 10px;
}

h3 {
    color: #154468;

}

select {
    max-width: 100px;
    min-width: 100px;
    display: inline-block;
}

.year_prod {
    max-width: 56px;
    min-width: 56px;
}

.text_info {
    font-size: 8px;
    color: grey;
}

h4 {
    font-weight: bold;
    color: #154468;
    line-height: 14px;
    font-size: 15px;
}

/*
h5 {
    font-size: 10px;
    display: inline-block;
    width: 75px;
}
*/

.short_search {
    text-align: right;
    display: block;
    margin-right: 48px;
}

.goods {
    width: 526px;
    float: left;
    padding: 14px 0 4px;
    border-radius: 3px;
}

.tires li {
    float: left;
    margin: 0 8px 20px 20px;
    text-align: center;
    font-size: 13px;
}

.price {
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 25px;
    color: #114165;
}

.partners {
    text-align: center;
    line-height: 57px;
    height: 90px;
}

.partners img {
    padding: 0 10px 0 0;
}

footer {
    height: 100px;
    background-color: #213a4d;
    color: white;
    text-align: center;
    border: 1px solid #242a3c;
    border-bottom: none;
    box-sizing: border-box;
}

footer ul li {
    padding: 5px;
    display: inline-block;
    text-decoration: none;
}

footer p {
    color: #7f4740;
    font-size: 10PX;
    margin-top: 9px;
}

footer ul li a {
    padding: 6px 5px 0 0;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.vr_separator:after {
    content: " ";
    display: inline-block;
    width: 2px;
    height: 11px;
    border-right: 1px solid #8d989f;
    border-left: 1px solid #7a878f;
    background: white;
    box-sizing: border-box;
    margin: 0 -5px -2px 12px;
}

footer ul li a:hover {
    color: #4d9fbd;
}

.shadow {
    -webkit-box-shadow: 3px 3px 3px 0 rgba(181, 181, 181, 0.75);
    -moz-box-shadow: 3px 3px 3px 0 rgba(181, 181, 181, 0.75);
    box-shadow: 3px 3px 3px 0 rgba(181, 181, 181, 0.75);
}

.nav_bar_background {
    background: rgba(0, 0, 0, 1);
    /* Old Browsers */
    background: -moz-linear-gradient(top, rgba(70, 77, 84, 1) 0%, rgba(70, 77, 84, 1) 9%, rgba(1, 1, 1, 1) 35%, rgba(1, 1, 1, 1) 98%, rgba(1, 1, 1, 1) 100%);
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, rgba(70, 77, 84, 1) 0%, rgba(70, 77, 84, 1) 9%, rgba(1, 1, 1, 1) 35%, rgba(1, 1, 1, 1) 98%, rgba(1, 1, 1, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(70, 77, 84, 1) 0%, rgba(70, 77, 84, 1) 9%, rgba(1, 1, 1, 1) 35%, rgba(1, 1, 1, 1) 98%, rgba(1, 1, 1, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(70, 77, 84, 1) 0%, rgba(70, 77, 84, 1) 9%, rgba(1, 1, 1, 1) 35%, rgba(1, 1, 1, 1) 98%, rgba(1, 1, 1, 1) 100%);
    /* IE 10+ */
    background: linear-gradient(to bottom, rgba(70, 77, 84, 1) 0%, rgba(70, 77, 84, 1) 9%, rgba(1, 1, 1, 1) 35%, rgba(1, 1, 1, 1) 98%, rgba(1, 1, 1, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#464d54', endColorstr='#010101', GradientType=0);
}

.goods_background {
    background: rgba(229, 231, 232, 1);
    /* Old Browsers */
    background: -moz-linear-gradient(top, rgba(229, 231, 232, 1) 0%, rgba(147, 167, 176, 1) 100%);
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, rgba(229, 231, 232, 1) 0%, rgba(147, 167, 176, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(229, 231, 232, 1) 0%, rgba(147, 167, 176, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(229, 231, 232, 1) 0%, rgba(147, 167, 176, 1) 100%);
    /* IE 10+ */
    background: linear-gradient(to bottom, rgba(229, 231, 232, 1) 0%, rgba(147, 167, 176, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e7e8', endColorstr='#93a7b0', GradientType=0);
}

.registration_background {
    background: rgba(31, 104, 135, 1);
    /* Old Browsers */
    background: -moz-linear-gradient(top, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    /* IE 10+ */
    background: linear-gradient(to bottom, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f6887', endColorstr='#0c3357', GradientType=0);
}