body {
    margin: 0;
    padding: 0;
    background: url("../img/background.png");
    font-family: sans-serif;
}

.container {
    margin: 38px auto 0;
    width: 1000px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    border-bottom: 3px solid #333;
}

.logo {
    margin: 11px 0 0 28px;
    vertical-align: bottom;
}

h3 {
    letter-spacing: -1px;
    margin: 0;
    line-height: 26px;
}

.contacts {
    float: right;
    color: #5fa5bb;
    font-size: 12px;
    margin: 2px 28px 0 0;
}

.contacts > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 18px;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.flags {
    margin: 30px 30px 0 0;
    display: flex;
    clear: right;
    float: right;
}

.flags > div {
    width: 56px;
    height: 50px;
    float: right;
    font-size: 10px;
    text-align: center;
}

.flags > div > a {
    color: #5fa5bb;
    font-family: sans-serif;
}

.flags:after {
    clear: both;
}

.main_img {
    vertical-align: bottom;
}

.menu {
    font-size: 12px;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
    background: #333;
}

.menu li {
    float: left;
    position: relative;
    display: block;
    width: 142px;
    text-align: center;
}

.menu li a {
    display: block;
    padding: 8px;
    color: #fff;
    background: #333;
    text-decoration: none;
}

.menu ul {
    list-style: none;
    position: absolute;
    left: -9999px;
    opacity: 0;
    padding: 0;
}

.menu ul li {
    float: none;
}

.menu ul a {
    white-space: nowrap;
    display: block;
}

.menu li:hover ul {
    left: 0;
    opacity: 1;
}

.menu li:hover ul li a:hover {
    background: #333;
}

.content {
    width: 100%;
    overflow: hidden;
    padding-bottom: 15px;
}

.info {
    float: left;
    width: 21%;
    font-size: 18px;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;

}

.info > ul {
    margin: 0;
    padding: 0;
}

.info > ul > li {
    font-size: 14px;
    list-style: none;
    padding: 4px 0 3px 15px;
}

h4 {
    margin: 10px 0 0 0;
    text-align: center;
}

.news {
    float: right;
    width: 21%;
    font-size: 18px;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.news > ul {
    margin: 0;
    padding: 0;
}

.news > ul > li {
    font-size: 14px;
    list-style: none;
    padding: 4px 0 3px 15px;
}

.main_content {
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

footer {
    color: white;
    width: 1000px;
    margin: 9px auto;
    font-size: 12px;
}

footer h4 {
    margin: 0;
}