body {
    background: #F0EFE7;
    margin: 0;
    padding: 0;
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4E443C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    text-rendering: optimizelegibility;
}

h1 {
    color: #4E443C;
    font-size: 36px;
    font-weight: bold;
}

.wrapper {
    max-width: 620px;
    padding: 0 20px 40px 20px;
    margin: auto;
}


/*Style for SelectBox*/
.clr {
    clear: both;
}

.demoTarget {
    padding: 3em;
}

/*Style for CheckboxBox CSS*/
input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.label1 {
    cursor: pointer;
}
.label1:after {
    content: " ";
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/checkbox-2.png);
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 15px;
}

input[type=checkbox]:checked + .label1:after {
    background-position: 0 -17px;
}

.label1:hover:after {
    background-position: 0 -34px;
}

input[type=checkbox]:checked + .label1:hover:after {
    background-position: 0 -51px;
}

/*Style for CheckboxBox jQuery*/
.niceCheck {
    width: 17px;
    height: 17px;
    display: inline-block;
    cursor: pointer;
    background: url(../img/checkbox-sprite.png);
}

.niceCheck input {
    display: none;
}

.label2 {
    margin-left: 20px;
    display: inline-block;
    width: 70px;
}

form div {
    display: inline-block;
    width: 110px;
    height: 20px;
}
