body {
    background: #F0EFE7;
    margin: 0;
    padding: 0;
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4E443C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    text-rendering: optimizelegibility;
}

h1 {
    color: #4E443C;
    font-size: 36px;
    font-weight: bold;
}

.wrapper {
    max-width: 620px;
    padding: 0 20px 40px 20px;
    margin: auto;
}


/*Styles for SelectBox*/
.clr {
    clear: both;
}

.demoTarget {
    padding: 3em;
}

/*Styles for CheckboxBox CSS*/
input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.label1 {
    cursor: pointer;
}
.label1:after {
    content: " ";
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/checkbox-2.png);
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 15px;
}

input[type=checkbox]:checked + .label1:after {
    background-position: 0 -17px;
}

.label1:hover:after {
    background-position: 0 -34px;
}

input[type=checkbox]:checked + .label1:hover:after {
    background-position: 0 -51px;
}

/*Styles for CheckboxBox jQuery*/
.niceCheck {
    width: 17px;
    height: 17px;
    display: inline-block;
    cursor: pointer;
    background: url(../img/checkbox-sprite.png);
}

.niceCheck input {
    display: none;
}

.label2 {
    margin-left: 20px;
    display: inline-block;
    width: 70px;
}

form div {
    display: inline-block;
    width: 110px;
    height: 20px;
}

/*Styles for nav bar*/
nav {
    background-color: #085494;
    font-family: serif;
    font-size: 14px;
    line-height: 30px;
    margin: 20px 0;
}

nav a{
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    position: relative;
    letter-spacing: -4px;
}
nav ul li {
    letter-spacing: 0;
}

nav ul li:hover {
    background-color:#0CF;
    transition: 1s;
}



.main_item {
    display: inline-block;
    width: 124px;
    text-align: center;
    background-color: #274791;
}

nav ul li ul li {
    text-align: left;
    padding-left: 10px;
    width: 124px;
    box-sizing: border-box;
}

.main_item_ul {
    display: block;
    position: absolute;
    background-color: #274791;
    max-height: 0;
    overflow: hidden;

    -webkit-transition:max-height 0.2s linear;
    -moz-transition:max-height 0.2s linear;
    transition:max-height 0.2s linear;
}

.item_inner {
    position: relative;
}

.main_item:hover .main_item_ul{
    max-height: 200px;
    overflow: visible;
}

.item_inner_ul {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #274791;

    max-height: 0;
    overflow: hidden;

    -webkit-transition:max-height 0.4s linear;
    -moz-transition:max-height 0.4s linear;
    transition:max-height 0.4s linear;
}

.item_inner:hover .item_inner_ul {
    max-height: 200px;
}
