@import "variables";
@import "mixin";
@import "reset";

body {

}

h3 {
  padding: 10px 0;
}

h2 {
  padding: 45px 0;
  font-size: 24px;
}

header {
  width: 1160px;
  margin: 37px auto;
  .header_top {
    margin-bottom: 37px;
    .logo {
      float: left;
      display: flex;
      .title {
        margin-left: 10px;
        float: right;
        color: $color-gray;
      }
      .sub_title {
        font-size: 10px;
        color: $color-gray-social;
      }
    }
    .socials {
      float: right;
    }
  }

  .menu {
    position: relative;
    background-color: $color-gray;
    margin-bottom: 40px;

    li {
      float: left;
      list-style: none;
      border-right: 1px solid $color-border;
      /*@include border-radius(10px);*/

      a {
        padding: 0 40px;
        line-height: 50px;
        text-decoration: none;
        color: $color-white;
      }

      a:hover {
        color: yellow;
      }

    }
    li:hover {
      background-color: $color-blue;
    }

    form {
      position: absolute;
      right: 8px;
      top: 8px;
      input {
        width: 240px;
        height: 34px;
        box-sizing: border-box;
        background-color: $color-gray;
        border-color: $color-border;
      }
    }
  }

  .jcarousel {
    position: relative;
    overflow: hidden;
  }

  .jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    .jcarousel li {
      float: left;
    }
  }

  .wrapper {
    max-width: 1200px;
    margin: auto;
  }

  .info {
    display: flex;

    .info_item {
      display: flex;
      .number_info {
        font-size: 90px;
        color: $color-gray-social;
      }
      .right_column_info {
        margin: 15px 20px;
        p {
          font-size: 12px;
          color: $color-gray-social;
        }
        a {
          text-decoration: none;
          display: block;
          padding: 10px 10px 10px 0;
        }
      }
    }
  }
}

.services {
  background-color: $color-gray;
  .services_container {
    h2 {
      color: $color-white;
    }
    margin: 0 auto;
    width: 1160px;
    .services_content {
      display: flex;
      .item_services {
        h5 {
          color: $color-white;
          padding: 45px 0;
          text-align: center;
        }
        margin-right: 40px;
      }
    }
  }
}

.news {
  background-color: $color-bg-cream;
  .news_container {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    .nb_odd {
      margin-right: 20px;
    }
    .nb_pair {
      margin-left: 20px;
    }
    .news_block {
      width: 50%;
      h2 {
        color: $color-gray;
      }
      .latest_news {
        .latest_news_item {

          img {
            float: left;
            margin: 0 40px 40px 0;
          }
          .news_content {
            span {
              font-size: 13px;
              color: $color-gray-social;
              a {
                font-size: 13px;
                text-decoration: none;
              }
            }
            p {
              font-size: 13px;
              margin-top: 30px;
              color: $color-gray-social;
            }
          }
        }
      }

      .banners_place {

        h4:before {
          content: "";
          width: 9px;
          height: 1px;
          background-color: $color-border;
          position: absolute;
          top: 20px;
          left: 12px;
        }
        h4:after {
          content: "";
          width: 1px;
          height: 9px;
          background-color: $color-border;
          position: absolute;
          top: 16px;
          left: 16px;
        }

        h4 {
          position: relative;
          background: $color-white;
          text-transform: uppercase;
          font-size: 13px;
          line-height: 40px;
          padding-left: 40px;
          border: 1px solid $color-gray-social;
          margin-bottom: 5px;
        }
        .h4_click {
          background: $color-hover;
          color: $color-white;
        }
        p {
          color: $color-gray-social;
          font-size: 13px;
          margin: 40px;
          display: none;
        }
      }
    }
  }
}

.partners {
  width: 1160px;
  margin: 90px auto;
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
}

footer {
  .site {
    background-color: $color-gray;
    padding: 45px 0;
    .site_container {
      width: 1160px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .site_item {
        width: 260px;
        h5 {
          text-transform: uppercase;
          color: $color-white;
        }
        ul {
          list-style: none;
          margin: 45px 0;
          li {
            border-bottom: 1px solid $color-text-gray;
            a {
              font-size: 13px;
              text-decoration: none;
              line-height: 35px;
              color: $color-text-gray;;
            }
            a:hover {
              color: $color-blue;
            }
          }
        }
      }
    }
  }

  .footer_contacts {
    background-color: $color-bg-footer;
    padding: 20px 0;
    .contacts_container {
      margin: 0 auto;
      width: 1160px;
      font-size: 13px;
      color: $color-text-gray;
      span {
        font-size: 13px;
      }
      display: flex;
      justify-content: space-between;
    }
  }
}

