$font-stack: Helvetica, sans-serif;
$color-gray: #2a2d32;
$color-gray-social: #cccccc;
$color-blue: #248cec;
$color-white: white;
$color-border: #181a1d;
$color-hover: #f4b60d;
$color-bg-cream: #f7f7f7;
$color-bg-footer: #35383c;
$color-text-gray: #828385;
