html {
    background-color: #eeeeee;
}

body {
    width: 432px;
    margin: 4px auto 50px;
    padding: 50px;
    font-size: 20px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

h3 {
    margin-top: 0;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.university, .need, .contacts, .my_feedback {
    padding-left: 20px;
}

.about_block {
    border-bottom: 1px solid black;
}

h4 {
    font: normal 20px serif;
    margin-bottom: 0;
}

.phone_number, .social_vk, .feedback {
    margin-top: 0;
}